@import "./style-common";

html {
    font-family: $contentFontFamily;
    height: 100%;

    @include max-screen($phoneMaxWidth) {
        & {
            font-size: 20px;
        }
    }

    body {
        height: 100%;
        padding: 0rem;
        margin: 0rem;

        a {
            text-decoration: none;
        }

        a, input, button, [role=button] {
            outline-style: none;
        }

        button {
            padding: 0;
            border: none;
            background-color: initial;
        }

        ul, ol {
            margin: 0;
            padding: 0;
        }
    }
}

$innerList: et-header, et-main, et-preview, et-zoom-tools;

@include max-screen($padMaxWidth) {
    @each $inner in $innerList {
        .#{$inner}__inner {
            width: 100%;
        }
    }
}

@include filter-screen($laptopMinWidth, $laptopMaxWidth) {
    @each $inner in $innerList {
        .#{$inner}__inner {
            width: 1000px;
        }
    }
}

@include min-screen($pcMinWidth) {
    @each $inner in $innerList {
        .#{$inner}__inner {
            width: 1280px;
        }
    }
}

.et-blog {
    height: 100%;
    background: $mainBackground;
}

.et-header {
    position: fixed;
    z-index: $headerIndex;
    top: 0;
    left: 0;
    width: 100%;
    height: $headerHeight;
    background: $headerBackground;
    border-bottom: $deepenBorder;
    box-shadow: $borderShadow;

    .et-header__inner {
        position: relative;
        @extend %inner;
    }

    .et-header__logo {
        flex: none;
        width: $headerHeight * 2.5;
        background-image: url('/static/images/et-logo-text.png');
        background-repeat: no-repeat;
        background-position: $headerHeight / 6 center;
        background-size: 90%;

        @include max-screen($padMaxWidth) {
            & {
                width: $headerHeight;
                background-image: url('/static/images/et-logo.png');
                background-position: .4rem .4rem;
            }
        }
    }

    .et-header__menu {
        flex: none;
        margin: 0 $headerHeight / 6;
        border-bottom: none;

        @include max-screen($phoneMaxWidth) {
            & {
                display: none;
            }
        }

        .el-menu-item {
            height: $headerHeight;
            line-height: $headerHeight;
            font-size: $subtitleFontSize;
            padding: 0;
        }

        .el-menu-item > a {
            display: block;
            padding: 0 1.3rem;
        }

        .el-menu-item .et-icon {
            margin-right: .2rem;
            font-size: $iconFontSizeLarge;
            transition: color .3s;
        }

        .el-menu-item.is-active {
            color: $themeColor;
            border-bottom: .2rem solid $themeColor;
        }

        .el-menu-item:not(.is-disabled):hover {
            color: $themeColor;
            border-bottom-color: $themeColor;
            background-color: $headerHoverBackground;
        }

        .el-menu-item:not(.is-disabled):hover .et-icon {
            color: $themeHoverColor;
        }
    }

    .et-header__menu_mobile {
        flex: none;
        display: none;
        padding: .5rem;

        @include max-screen($phoneMaxWidth) {
            & {
                display: block;
            }
        }

        &:hover {
            background-color: $headerHoverBackground;
        }

        .et-icon {
            font-size: 2rem;
            line-height: 2rem;
            color: #8f9398;
        }
    }

    .et-header__search {
        width: 100%;
        margin: $headerHeight / 6;

        .el-input__inner {
            height: $headerHeight * 2 / 3;
            line-height: $headerHeight * 2 / 3;
        }

        .el-input__icon {
            line-height: $headerHeight * 2 / 3;
        }
    }

    .et-header__post {
        margin: $headerHeight / 6;
        padding: 0 $headerHeight / 6;

        @include max-screen($phoneMaxWidth) {
            & {
                display: none;
            }
        }
    }

    .et-header__account {
        flex: none;
        height: $headerHeight;

        &:hover {
            background-color: $headerHoverBackground;
        }

        .et-header__avatar {
            width: $headerHeight * 2 / 3;
            height: $headerHeight * 2 / 3;
            padding: $headerHeight / 6;
            cursor: pointer;
        }

        .et-header__avatar > img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    .et-header__dropdown {
        $dropdownWidth: 20rem;

        position: absolute;
        overflow: hidden;
        top: $headerHeight;
        right: 0;
        left: 0;
        width: $dropdownWidth;
        height: auto;
        margin: auto;
        border: $deepenBorder;
        border-top: none;
        border-radius: 0 0 $radiusSmall $radiusSmall;
        background-color: $headerBackground;

        &.dropdown-enter-active {
            animation: dropdown-enter .2s ease-in-out;
        }

        &.dropdown-leave-active {
            animation: dropdown-enter .2s ease-in-out reverse;
        }

        @keyframes dropdown-enter {
            0% {
                height: 0;
                width: 60%;
                border-radius: 0 0 50% 50%;
            }
            50% {
                height: 8rem;
                border-radius: 0 0 50% 50%;
            }
            100% {
                height: auto;
                width: $dropdownWidth;
                border-radius: 0 0 .5rem .5rem;
            }
        }

        @include max-screen($phoneMaxWidth) {
            & {
                width: 100%;
                border-left: none;
                border-right: none;
            }

            &.dropdown-enter-active {
                animation: dropdown-enter-mobile .2s ease-in-out;
            }

            &.dropdown-leave-active {
                animation: dropdown-enter-mobile .2s ease-in-out reverse;
            }

            @keyframes dropdown-enter-mobile {
                0% {
                    height: 0;
                    width: 100%;
                    border-radius: 0 0 50% 50%;
                }
                50% {
                    height: 8rem;
                    border-radius: 0 0 50% 50%;
                }
                100% {
                    height: auto;
                    width: 100%;
                    border-radius: 0;
                }
            }
        }

        .et-header__sign-in {
            padding: $spaceSmall;
        }

        .et-header__sign-in .el-form-item .el-alert {
            padding: .3rem;
            margin-bottom: $spaceSmall;
        }

        .et-header__sign-in .el-form-item .el-input__inner {
            height: $headerHeight * 2 / 3;
            line-height: $headerHeight * 2 / 3;
        }

        .et-header__sign-in .el-form-item.et-form-item_right .el-button {
            width: 30%;
        }
    }
}

.et-main {
    width: 100%;
    padding-top: $headerHeight;
    padding-bottom: $footerHeight;
    background: $mainBackground;

    .et-main__inner {
        @extend %inner;
    }

    .et-layout {
        display: flex;
        align-items: flex-start;
        width: 100%;
        height: 100%;

        .et-nav {
            display: none;
            position: relative;
            flex: none;
            margin-left: 0;

            @include min-screen($laptopMinWidth) {
                & {
                    display: block;
                }
            }
        }

        .et-nav .et-nav__wrapper {
            position: fixed;
            width: $navWidth;
        }

        .et-content {
            flex: auto;
            display: flex;
            align-items: flex-start;
            padding: $spaceLarge 0;
        }

        @include max-screen($phoneMaxWidth) {
            .et-content {
                padding-top: $spaceSmall;
            }
        }

        .et-content .et-content__wrapper {
            flex: auto;
        }

        .et-content .et-content__wrapper .et-block {
            padding: $spaceLarge;
            background-color: $blockBackground;
            border: $splitBorder;
            border-radius: $radiusSmall;
        }

        .et-content .et-content__wrapper .et-block.et-form .el-form-item__label {
            width: $pageFormLabelWidth;
        }

        .et-content .et-content__wrapper .et-block.et-form .el-form-item__error {
            margin-left: $pageFormLabelWidth;
        }

        .et-content .et-content__wrapper .et-block.et-form .et-collapse .et-collapse__header::before {
            left: $pageFormLabelWidth;
        }

        .et-content .et-content__wrapper .et-block.et-form .et-collapse .et-collapse__title {
            width: $pageFormLabelWidth;
        }

        .et-content .et-content__wrapper .et-block-panel {
            margin-top: $spaceMiddle;
            padding: $spaceSmall;
            text-align: center;
            background-color: $blockBackground;
            border: $splitBorder;
            border-radius: $radiusSmall;
        }

        .et-toolbar {
            display: none;
            flex: none;
            margin-left: $spaceLarge;

            @include min-screen($laptopMinWidth) {
                & {
                    display: block;
                }
            }
        }
    }
}

.et-footer {
    position: fixed;
    z-index: $footerIndex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footerHeight;
    background: $footerBackground;
    border-top: $deepenBorder;
    box-shadow: $borderShadow;
}

.et-notify {
    top: .5rem;
    padding: $spaceSmall;
    padding-left: 1rem;
    z-index: $fullscreenNotifyIndex !important;

    &.et-notify_normal {
        z-index: $notifyIndex !important;
        top: $headerHeight + .5rem;
    }

    @include max-screen($phoneMaxWidth) {
        &.et-notify_normal,
        &.et-notify_dialog {
            top: $headerHeight;
        }

        &.et-notify_fullscreen {
            top: 0;
        }
    }
}

.et-loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 1px;
    background-color: $themeColor;
    z-index: $fullscreenLoadingIndex;
    animation: loading 10s cubic-bezier(0, 0, 0.2, 1) forwards;

    &.et-loading_finish {
        width: 100%;
        transition: width .3s;
        animation: none;
    }

    @keyframes loading {
        0% {
            width: 0;
        }

        100% {
            width: 95%;
        }
    }
}

%upload {
    display: flex;
    justify-content: center;
    width: $uploadWidth;
    height: $uploadWidth;
    border-radius: $radiusSmall;
    border: 1px dashed $elementColor;
    cursor: pointer;

    .et-icon {
        font-size: 3rem;
        line-height: $uploadWidth;
        color: $elementColor;
    }

    &:hover {
        border-color: $elementHoverColor;
    }

    &:hover .et-icon {
        color: $elementHoverColor;
    }
}

.et-upload {
    .el-upload {
        @extend %upload;

        .et-upload__image {
            width: 100%;
            height: 100%;
        }
    }
}

.et-photo-select {
    @extend %upload;

    > img {
        width: 100%;
        height: 100%;
    }
}

.et-icon {
    transition: transform .3s;

    &.et-icon_reverse {
        transform: rotate(180deg);
    }
}

.et-form {
    .el-form-item {
        margin-bottom: $spaceLarge;

        .el-form-item__label {
            width: $formLabelWidth;
            padding-right: $spaceMiddle;
            line-height: $elementHeight;
            font-size: $descriptionFontSize;
            color: $navColor;
        }

        .el-form-item__error {
            margin-left: $formLabelWidth;
            padding: 2px $spaceSmall;
        }

        &.is-success {
            .el-input__inner,
            .el-textarea__inner {
                border-color: $elementColor;
            }
            .el-input__inner:focus,
            .el-textarea__inner:focus {
                border-color: $themeColor;
            }
        }

        .el-input, .el-textarea {
            width: $elementWidth;
        }

        .el-slider {
            display: inline-block;
            width: $elementWidth;
            padding: 0 8px;
            box-sizing: border-box;

            .el-slider__runway {
                margin: .8125rem 0;
            }
        }

        .el-switch {
            height: $elementHeight;
        }

        .el-radio-group {
            padding: 0 $spaceTiny;
            line-height: $elementHeight;
        }

        .el-radio-group .el-radio {
            line-height: $elementHeight;
        }

        @include max-screen($phoneMaxWidth) {
            .el-form-item__label {
                width: 50%;
                text-align: left;
            }

            .el-form-item__error {
                margin-left: 0;
                padding: 5px $spaceSmall;
            }

            .el-input, .el-textarea,
            .el-select, .el-slider {
                width: 100%;
            }

            .el-switch {
                float: right;
            }
        }
    }
}

.et-dialog {
    .el-dialog {
        border-radius: $radiusSmall;

        @include max-screen($phoneMaxWidth) {
            & {
                width: 100%;
                height: 100%;
                margin: 0 !important;
                border-radius: 0;
            }

            .el-dialog__footer {
                border-radius: 0;
            }
        }

        @include filter-screen($padMinWidth, $padMaxWidth) {
            & {
                width: 75%;
            }
        }

        @include min-screen($pcMinWidth) {
            & {
                width: 35%;
            }
        }
    }

    @keyframes dialog-fade-in-bottom {
        0% {
            transform: translate3d(0, 20px, 0);
            opacity: 0;
        }

        100% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

    @keyframes dialog-fade-out-bottom {
        0% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }

        100% {
            transform: translate3d(0, 20px, 0);
            opacity: 0;
        }
    }

    &.et-dialog_small {
        .el-dialog {
            width: 30%;
            max-width: 30rem;
        }

        @include max-screen($phoneMaxWidth) {
            &.dialog-fade-enter-active {
                animation: dialog-fade-in-bottom .3s;
            }

            &.dialog-fade-leave-active {
                animation: dialog-fade-out-bottom .3s;
            }

            .el-dialog {
                position: fixed;
                bottom: 0;
                width: 100%;
                height: auto;
            }

            .el-dialog .el-dialog__body {
                position: static;
                margin-bottom: 0;
            }

            .el-dialog .el-dialog__footer {
                position: static;
            }
        }

        @include filter-screen($padMinWidth, $padMaxWidth) {
            .el-dialog {
                width: 45%;
            }
        }
    }

    .el-dialog__header {
        padding: $spaceLarge;

        .el-dialog__title {
            font-size: $dialogTitleFontSize;
            font-weight: $navFontWeight;
        }

        .el-dialog__headerbtn {
            top: $spaceLarge;
            right: $spaceLarge;
        }

        .el-dialog__headerbtn .el-dialog__close {
            font-size: $iconFontSizeLarge;
        }
    }

    .el-dialog__body {
        width: 100%;
        max-height: 400px;
        padding: $spaceLarge;
        padding-top: 0;
        box-sizing: border-box;
        overflow: auto;

        @include max-screen($phoneMaxWidth) {
            & {
                position: absolute;
                top: 3.2rem;
                bottom: 3.3rem;
                max-height: none;
            }
        }

        @include min-screen-height($pcMinHeight) {
            & {
                max-height: 600px;
            }
        }

        .et-load-scroll__line {
            margin-bottom: 0;
        }
    }

    .el-dialog__footer {
        background: $dialogFooterBackground;
        border-radius: 0 0 $radiusSmall $radiusSmall;
        padding: $spaceMiddle $spaceLarge;
        border-top: $splitBorder;

        @include max-screen($phoneMaxWidth) {
            & {
                position: absolute;
                bottom: 0;
                width: 100%;
            }
        }

        .el-button {
            min-width: 4.5rem;
            padding: $spaceMiddle;
        }

        .el-button--primary,
        .el-button--primary:focus {
            border-color: $submitColor;
            background: $submitColor;
        }

        .el-button--primary:hover {
            border-color: $submitHoverColor;
            background: $submitColor;
        }

        .el-button--primary:active {
            border-color: $submitHoverColor;
            background: $submitActiveColor;
        }
    }

    .et-dialog__panel {
        display: flex;
        padding-bottom: $spaceSmall;
        margin-bottom: $spaceSmall;
        border-bottom: $splitBorder;

        & > .el-input,
        & > .el-button,
        & > .el-upload {
            margin-right: $spaceSmall;
        }

        & > .el-input:last-child,
        & > .el-button:last-child,
        & > .el-upload:last-child {
            margin-right: 0;
        }

        .el-upload {
            height: 100%;
        }

        .el-upload .el-button {
            height: 100%;
        }
    }
}

.et-photo__container {
    display: flex;
    flex-wrap: wrap;

    .et-photo__wrapper {
        flex: none;
        position: relative;
        z-index: 0;
        width: 25% !important;
        height: 0;
        padding: $spaceMiddle;
        padding-bottom: calc(25% - .6rem) !important;
        box-sizing: border-box;

        @include max-screen($phoneHorizontalMinWidth) {
            & {
                width: 50% !important;
                padding-bottom: calc(50% - .6rem) !important;
            }
        }
    }

    .et-photo__wrapper_add {
        .et-photo__add {
            position: absolute;
            top: $spaceMiddle;
            right: $spaceMiddle;
            bottom: $spaceMiddle;
            left: $spaceMiddle;
            color: $splitBorderColor;
            text-align: center;
            border: $boldDashedBorder;
            border-radius: $radiusTiny;
            cursor: pointer;
        }

        .et-photo__add .et-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -1.5rem;
            margin-left: -1.5rem;
            font-size: 3rem;
            line-height: 3rem;
        }

        .et-photo__add:hover {
            color: $dropdownHoverBackground;
            border-color: $dropdownHoverBackground;
        }

        &.et-photo__wrapper {
            &:before,
            &:after {
                content: none;
            }
        }
    }
}

.et-writing.ql-editor,
.et-editor .ql-snow .ql-editor {
    color: $contentColor;

    :first-child {
        padding-top: 0;
    }

    :last-child {
        padding-bottom: 0;
    }

    p {
        padding: $contentPadding 0;
        font-size: $contentFontSize;
        text-align: justify;
    }

    h2 {
        padding: $contentPadding 0;
        font-size: $titleFontSize;
    }

    a {
        color: $themeColor;
        text-decoration: none;
        cursor: pointer;
    }

    a:hover {
        color: $themeHoverColor;
    }

    img {
        display: block;
        margin: auto;
        padding: $spaceSmall;
    }

    blockquote {
        margin: 0;
        padding: .3rem 0;
        padding-left: $spaceSmall;
        font-size: $contentFontSize;
        color: $quoteColor;
        border-left: 5px solid $splitBorderColor;
    }

    pre {
        margin: 0;
        padding: $spaceSmall $spaceBig;
        font-size: $contentFontSize;
        line-height: 1.5rem;
        color: $quoteColor;
        background-color: $codeBackground;
        border-radius: $radiusTiny;
    }

    ol, ul {
        padding: $contentPadding 0;
        padding-left: 0;
    }

    li {
        padding: .3rem 0;
        font-size: $contentFontSize;
        text-align: justify;
    }

    li:not(.ql-direction-rtl) {
        padding-left: 1.04rem;
    }

    .ql-indent-1:not(.ql-direction-rtl) {
        padding-left: 3.125rem;;
    }

    .ql-indent-2:not(.ql-direction-rtl) {
        padding-left: 5.21rem;
    }

    .ql-indent-3:not(.ql-direction-rtl) {
        padding-left: 7.29rem;
    }

    .ql-indent-4:not(.ql-direction-rtl) {
        padding-left: 9.37rem;
    }

    .ql-indent-5:not(.ql-direction-rtl) {
        padding-left: 11.46rem;
    }

    .ql-indent-6:not(.ql-direction-rtl) {
        padding-left: 13.54rem;
    }

    .ql-indent-7:not(.ql-direction-rtl) {
        padding-left: 15.63rem;
    }

    .ql-indent-8:not(.ql-direction-rtl) {
        padding-left: 17.71rem;
    }
}
