@import "./style-base";

.et-post {
    .et-photo-select {
        width: 100%;
        margin-bottom: $spaceLarge;
        background-color: $commentBackground;
        border: none;
    }

    .et-post__input {
        .el-input__inner {
            height: 3rem;
            font-size: $titleFontSize;
            font-weight: $titleFontWeight;
            color: $titleColor;
            background: none;
            border: none;
            border-bottom: $splitBorder;
            border-radius: 0;
        }

        .el-textarea__inner {
            margin-bottom: $spaceLarge;
            font-size: $contentFontSize;
            line-height: 1.5rem;
            background: none;
            border: none;
            border-radius: 0;
            border-bottom: $splitBorder;
        }
    }

    @include max-screen($phoneMaxWidth) {
        .et-photo-select,
        .et-photo-select .et-photo-select__image {
            border-radius: 0;
        }
    }
}
