@import "./style-common";
@import "./style-setting";

html {
    font-family: $contentFontFamily;
    height: 100%;
    
    body {
        height: 100%;
        padding: 0rem;
        margin: 0rem;
    }
}

$innerList: et-header, et-main;

%inner {
    display: flex;
    height: 100%;
    margin: auto;
}

@include max-screen(1280px) {
    @each $inner in $innerList {
        .#{$inner}__inner {
            width: 100%;
        }
    }
}

@include filter-screen(1280px, 1366px) {
    @each $inner in $innerList {
        .#{$inner}__inner {
            width: 1000px;
        }
    }
}

@include min-screen(1366px) { 
    @each $inner in $innerList {
        .#{$inner}__inner {
            width: 1280px;
        }
    }
}

.et-blog {
    height: 100%;
    background: $mainBackground;
}

.et-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $headerHeight;
    background: $headerBackground;
    box-shadow: $borderShadow;
    border-bottom: $deepenBorder;

    .et-header__inner {
        @extend %inner;
    }

    .et-header__logo {
        padding: $headerHeight / 10;
        img {
            height: 100%;
        }
    }

    .et-header__menu {
        border-bottom: none;
        margin: 0 1rem;

        .el-menu-item {
            height: $headerHeight;
            line-height: $headerHeight;
        }

        .el-menu-item .et-icon {
            font-size: 1.3rem;
            margin-right: 0.2rem;
            transition: color .3s;
        }

        .el-menu-item.is-active {
            border-bottom: 0.2rem solid $themeColor;
            color: $themeColor;
        }

        .el-menu-item:not(.is-disabled):hover {
            color: $themeHoverColor;
            border-bottom-color: $themeHoverColor;
        }

        .el-menu-item:not(.is-disabled):hover .et-icon {
            color: $themeHoverColor;
        }
    }
}

.et-main {
    width: 100%;
    padding-top: $headerHeight;
    padding-bottom: $footerHeight;

    .et-main__inner {
        @extend %inner;
    }
}

.et-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footerHeight;
    background: $footerBackground;
    box-shadow: $borderShadow;
    border-top: $deepenBorder;
}
