@import "./style-setting";

@mixin max-screen($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin min-screen($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin filter-screen($minWidth, $maxWidth) {
    @media screen and (min-width: $minWidth) and (max-width: $maxWidth) {
        @content;
    }
}

.el-button {
    padding: 0 $spaceSmall;
    font-size: $elementFontSize;

    &.el-button--primary {
        &:focus {
            background-color: $themeColor;
            border-color: $themeColor;
        }

        &:hover {
            background: $themeHoverColor;
            border-color: $themeHoverColor;
        }

        &:active {
            background: $themeActiveColor;
            border-color: $themeActiveColor;
        }
    }
}

.el-input {
    .el-input__inner {    
        height: $elementHeight;
        font-size: $elementFontSize;
        line-height: $elementHeight;
    
        &:focus + .el-input__prefix > .el-input__icon {
            color: $themeColor;
        }
    }

    &.el-input--prefix {
        .el-input__inner {
            padding-left: 1.8rem;
        }
    
        .el-input__prefix {
            left: .4rem;
        }
    }

    .el-input__suffix {
        right: .1rem;
    }

    .el-input__icon {
        font-size: $elementIconFontSize;
        line-height: $elementHeight;
        transition: color .2s cubic-bezier(.645, .045, .355, 1);
    }

    .el-input__clear {
        font-size: .9rem;
    }
}

.el-form {
    .el-form-item {
        margin-bottom: $spaceSmall;

        &:last-child,
        &.et-form-item_hide {
            margin-bottom: 0;
        }
    }
    
    .el-form-item .el-form-item__content {
        line-height: initial;
    }

    .el-form-item.et-form-item_right .el-form-item__content {
        display: flex;
        flex-direction: row-reverse;

        .el-button {
            margin-left: $spaceSmall;
        }
    }
}

.el-popper {
    &[x-placement^=bottom] {
        margin-top: .5rem;
        padding: 0;
        box-shadow: none;
        border: $darkBorder;

        .popper__arrow {
            border-bottom-color: $darkBorderColor;
        }

        .popper__arrow::after {
            border-bottom-color: $dropdownBackground;
        }
    }

    .el-dropdown-menu__item {
        line-height: $elementHeight;
        padding: 0 $spaceMiddle;
        font-size: $elementFontSize;
        color: $dropdownColor;
        background-color: $dropdownBackground;
        border-bottom: $splitBorder;

        &:last-of-type {
            border-bottom: none;
        }

        &:focus, &:not(.is-disabled):hover {
            background-color: $dropdownHoverBackground;
            color: $dropdownColor;
        }

        a {
            color: $dropdownColor;
        }

        .et-icon {
            font-size: $iconFontSizeSmall;
            line-height: $iconFontSizeSmall;
            vertical-align: text-bottom;
            margin-right: $spaceTiny;
        }
    }
}

.el-alert {
    .el-alert__title {
        font-size: $elementFontSize;
    }
    
    .el-alert__closebtn {
        font-size: $iconFontSizeSmall;
        top: .3rem;
        right: .4rem;
    }
}

.el-message {
    .el-message__content {
        font-size: $elementFontSizeLarge;
    }

    .el-message__closeBtn {
        font-size: $iconFontSizeSmall;
    }
}