@import "./style-setting";

@mixin max-screen($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin min-screen($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin filter-screen($minWidth, $maxWidth) {
    @media screen and (min-width: $minWidth) and (max-width: $maxWidth) {
        @content;
    }
}

%inner {
    display: flex;
    height: 100%;
    margin: auto;
}

%text-overview {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hide {
    display: none !important;
}

.el-button {
    min-height: $buttonHeight;
    padding: 0 $spaceSmall;
    font-size: $descriptionFontSize;
    user-select: none;

    &.el-button--default {
        &:not(.is-disabled):focus {
            color: #606266;
            border-color: #dcdfe6;
            background-color: #fff;
        }

        &:not(.is-disabled):hover {
            color: #606266;
            border-color: #b3e8ff;
            background-color: #e6f7ff;
        }

        &:not(.is-disabled):active {
            color: #00B1FF;
            border-color: #00B1FF;
            background-color: #e6f7ff;
        }
    }

    &.el-button--primary {
        &:not(.is-disabled):focus {
            border-color: $themeColor;
            background-color: $themeColor;
        }

        &:not(.is-disabled):hover {
            border-color: $themeHoverColor;
            background: $themeHoverColor;
        }

        &:not(.is-disabled):active {
            border-color: $themeActiveColor;
            background: $themeActiveColor;
        }

        &.is-disabled {
            border-color: $disabledColor !important;
            background: $disabledColor !important;
        }
    }
}

.el-input {
    .el-input__inner {
        height: $elementHeight;
        padding: $spaceTiny $spaceSmall;
        font-size: $descriptionFontSize;
        line-height: $elementHeight;

        &:focus + .el-input__prefix > .el-input__icon {
            color: $themeColor;
        }
    }

    &.el-input--prefix {
        .el-input__inner {
            padding-left: 1.8rem;
        }

        .el-input__prefix {
            left: .4rem;
        }
    }

    &.el-input--suffix {
        .el-input__inner {
            padding-right: 1.8rem;
        }
    }

    .el-input__suffix {
        right: .2rem;
    }

    .el-input__icon {
        font-size: $iconFontSizeMiddle;
        line-height: $elementHeight;
        transition: color .2s cubic-bezier(.645, .045, .355, 1);
    }

    .el-input__clear {
        font-size: .9rem;
    }
}

.el-textarea {
    .el-textarea__inner {
        padding-right: $spaceSmall;
        padding-left: $spaceSmall;
        font-size: $descriptionFontSize;
    }
}

.el-select-dropdown {
    &.el-popper[x-placement^=top] {
        margin-bottom: 0;
    }

    &.el-popper[x-placement^=bottom] {
        margin-top: 0;
    }

    .popper__arrow {
        border: none;

        &::after {
            content: none;
        }
    }

    .el-select-dropdown__list {
        padding: 0;

        .el-select-dropdown__item {
            height: $elementHeight;
            padding: 0 $spaceSmall;
            font-size: $descriptionFontSize;
            color: $subThemeColor;
        }

        .el-select-dropdown__item.selected {
            color: $subThemeColor;
            font-weight: normal;
        }

        .el-select-dropdown__item:hover {
            background-color: $dropdownHoverBackground;
        }

        .el-select-dropdown__item span {
            line-height: $elementHeight !important;
        }
    }

    .el-select-dropdown__empty {
        height: $elementHeight;
        margin: 0;
        padding: 0;
        font-size: $descriptionFontSize;
        line-height: $elementHeight;
        color: $descriptionColor;
    }
}

.el-form {
    .el-form-item {
        margin-bottom: $spaceSmall;

        &:last-child,
        &.et-form-item_hide {
            margin-bottom: 0;
        }
    }

    .el-form-item .el-form-item__content {
        line-height: initial;
    }

    .el-form-item.et-form-item_right .el-form-item__content {
        display: flex;
        flex-direction: row-reverse;

        .el-button {
            margin-left: $spaceSmall;
        }
    }
}

.el-popper {
    border-radius: $radiusTiny;

    &[x-placement^=top],
    &[x-placement^=bottom] {
        padding: 0;
        box-shadow: none;
        border: $darkBorder;
    }

    &[x-placement^=top] {
        margin-bottom: .5rem;

        .popper__arrow {
            border-top-color: $darkBorderColor;
        }

        .popper__arrow::after {
            border-top-color: $dropdownBackground;
        }
    }

    &[x-placement^=bottom] {
        margin-top: .5rem;

        .popper__arrow {
            border-bottom-color: $darkBorderColor;
        }

        .popper__arrow::after {
            border-bottom-color: $dropdownBackground;
        }
    }

    .el-dropdown-menu__item {
        line-height: $elementHeight;
        padding: 0 $spaceBig;
        font-size: $descriptionFontSize;
        color: $subThemeColor;
        background-color: $dropdownBackground;
        border-bottom: $splitBorder;
        user-select: none;

        &:first-of-type {
            border-radius: .1rem .1rem 0 0;
        }

        &:last-of-type {
            border-bottom: none;
            border-radius: 0 0 .1rem .1rem;
        }

        &:focus, &:not(.is-disabled):hover {
            background-color: $dropdownHoverBackground;
            color: $subThemeColor;
        }

        &.et-dropdown__item_router {
            padding: 0;
        }

        a {
            display: block;
            padding: 0 $spaceBig;
            color: $subThemeColor;
        }

        .et-icon {
            font-size: $iconFontSizeSmall;
            line-height: $iconFontSizeSmall;
            vertical-align: text-bottom;
            margin-right: $spaceTiny;
        }
    }
}

.el-alert {
    .el-alert__title {
        font-size: $descriptionFontSize;
        user-select: none;
    }

    .el-alert__closebtn {
        font-size: $iconFontSizeSmall;
        top: .3rem;
        right: .4rem;
    }
}

.el-message {
    .el-message__content {
        font-size: $subtitleFontSize;
    }

    .el-message__closeBtn {
        font-size: $iconFontSizeSmall;
    }
}

.el-loading-mask  {
    z-index: initial;

    .el-loading-spinner {
        .circular {
            height: $loadingWidth;
            width: $loadingWidth;
        }

        .path {
            stroke-width: .5rem;
            stroke: $loadingColor;
        }
    }
}

.el-popup-parent--hidden {
    overflow: hidden;
}
