@import "./style-common";
@import "./style-setting";

html {
    font-family: $contentFontFamily;
    height: 100%;

    @include max-screen($phoneMaxWidth) {
        & {
            font-size: 20px;
        }
    }
    
    body {
        height: 100%;
        padding: 0rem;
        margin: 0rem;

        a {
            text-decoration: none;
        }
    }
}

$innerList: et-header, et-main;

%inner {
    display: flex;
    height: 100%;
    margin: auto;
}

@include max-screen($padMaxWidth) {
    @each $inner in $innerList {
        .#{$inner}__inner {
            width: 100%;
        }
    }
}

@include filter-screen($laptopMinWidth, $laptopMaxWidth) {
    @each $inner in $innerList {
        .#{$inner}__inner {
            width: 1000px;
        }
    }
}

@include min-screen($pcMinWidth) { 
    @each $inner in $innerList {
        .#{$inner}__inner {
            width: 1280px;
        }
    }
}

.et-blog {
    height: 100%;
    background: $mainBackground;
}

.et-header {
    position: fixed;
    z-index: $headerIndex;
    top: 0;
    left: 0;
    width: 100%;
    height: $headerHeight;
    background: $headerBackground;
    border-bottom: $deepenBorder;
    box-shadow: $borderShadow;

    .et-header__inner {
        position: relative;
        @extend %inner;
    }

    .et-header__logo {
        flex: 0 0 auto;
        width: $headerHeight * 2.5;
        background-image: url('/static/images/et-logo-text.png');
        background-repeat: no-repeat;
        background-position: $headerHeight / 6 center;
        background-size: 90%;

        @include max-screen($padMaxWidth) {
            & {
                width: $headerHeight;
                background-image: url('/static/images/et-logo.png');
                background-position: .4rem .4rem;
            }
        }
    }

    .et-header__menu {
        flex: 0 0 auto;
        margin: 0 $headerHeight / 6;
        border-bottom: none;

        @include max-screen($phoneMaxWidth) {
            & {
                display: none;
            }
        }

        .el-menu-item {
            height: $headerHeight;
            line-height: $headerHeight;
            font-size: $elementFontSizeLarge;
        }

        .el-menu-item .et-icon {
            margin-right: 0.2rem;
            font-size: $iconFontSizeLarge;
            transition: color .3s;
        }

        .el-menu-item.is-active {
            color: $themeColor;
            border-bottom: 0.2rem solid $themeColor;
        }

        .el-menu-item:not(.is-disabled):hover {
            color: $themeColor;
            border-bottom-color: $themeColor;
            background-color: $headerHoverBackground;
        }

        .el-menu-item:not(.is-disabled):hover .et-icon {
            color: $themeHoverColor;
        }
    }

    .et-header__menu_mobile {
        flex: 0 0 auto;
        display: none;
        padding: .5rem;

        @include max-screen($phoneMaxWidth) {
            & {
                display: block;
            }
        }

        &:hover {
            background-color: $headerHoverBackground;
        }

        .et-icon {
            font-size: 2rem;
            line-height: 2rem;
            color: #8f9398;
        }
    }

    .et-header__search {
        width: 100%;
        margin: $headerHeight / 6;

        .el-input__inner {    
            height: $headerHeight * 2 / 3;
            line-height: $headerHeight * 2 / 3;
        }

        .el-input__icon {
            line-height: $headerHeight * 2 / 3;
        }
    }

    .et-header__post {
        margin: $headerHeight / 6;
        padding: 0 $headerHeight / 6;

        @include max-screen($phoneMaxWidth) {
            & {
                display: none;
            }
        }
    }

    .et-header__account {
        flex: 0 0 auto;
        height: $headerHeight;

        &:hover {
            background-color: $headerHoverBackground;
        }

        .et-header__avatar {
            width: $headerHeight * 2 / 3;
            height: $headerHeight * 2 / 3;
            padding: $headerHeight / 6;
            cursor: pointer;
        }

        .et-header__avatar > img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    .et-header__dropdown {
        $dropdownWidth: 20rem;

        position: absolute;
        overflow: hidden;
        top: $headerHeight;
        right: 0;
        left: 0;
        width: $dropdownWidth;
        height: auto;
        margin: auto;
        border: $deepenBorder;
        border-top: none;
        border-radius: 0 0 $radiusSmall $radiusSmall;
        background-color: $headerBackground;

        &.dropdown-enter-active {
            animation: dropdown-enter .2s ease-in-out;
        }

        &.dropdown-leave-active {
            animation: dropdown-enter .2s ease-in-out reverse;
        }

        @keyframes dropdown-enter {
            0% {
                height: 0;
                width: 60%;
                border-radius: 0 0 50% 50%;
            }
            50% {
                height: 8rem;
                border-radius: 0 0 50% 50%;
            }
            100% {
                height: auto;
                width: $dropdownWidth;
                border-radius: 0 0 .5rem .5rem;
            }
        }

        @include max-screen($phoneMaxWidth) {
            & {
                width: 100%;
                border-left: none;
                border-right: none;
            }

            &.dropdown-enter-active {
                animation: dropdown-enter-mobile .2s ease-in-out;
            }
    
            &.dropdown-leave-active {
                animation: dropdown-enter-mobile .2s ease-in-out reverse;
            }

            @keyframes dropdown-enter-mobile {
                0% {
                    height: 0;
                    width: 100%;
                    border-radius: 0 0 50% 50%;
                }
                50% {
                    height: 8rem;
                    border-radius: 0 0 50% 50%;
                }
                100% {
                    height: auto;
                    width: 100%;
                    border-radius: 0;
                }
            }
        }

        .et-header__sign-in {
            padding: $spaceSmall;
        }

        .et-header__sign-in .el-form-item .el-alert {
            padding: .3rem;
            margin-bottom: $spaceSmall;
        }

        .et-header__sign-in .el-form-item .el-input__inner {    
            height: $headerHeight * 2 / 3;
            line-height: $headerHeight * 2 / 3;
        }

        .et-header__sign-in .el-form-item.et-form-item_right .el-button {
            width: 30%;
        }
    }
}

.et-main {
    width: 100%;
    padding-top: $headerHeight;
    padding-bottom: $footerHeight;

    .et-main__inner {
        @extend %inner;
    }

    .et-layout {
        display: flex;
        width: 100%;
        height: 100%;
        background: $mainBackground;

        .et-nav {
            display: none;
            flex: 0 0 auto;
            width: 150px;

            @include min-screen($laptopMinWidth) { 
                & {
                    display: block;
                }
            }
        }

        .et-content {
            flex: 1 0 auto;
        }
    }
}

.et-footer {
    position: fixed;
    z-index: $footerIndex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footerHeight;
    background: $footerBackground;
    border-top: $deepenBorder;
    box-shadow: $borderShadow;
}

.et-notify {
    z-index: $notifyIndex !important;
    top: $headerHeight + .5rem;
    padding: $spaceSmall;
    padding-left: 1rem;

    @include max-screen($phoneMaxWidth) {
        & {
            top: $headerHeight;
        }
    }
}