$contentFontSize: 0.9375rem !default;
$elementFontSize: 0.8rem;
$iconFontSizeLg: 1.3rem;

$contentFontFamily: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;

$themeColor: #00b1ff;
$themeHoverColor: #33c1ff;

$headerHeight: 3rem;
$footerHeight: 1.25rem;

$headerBackground: #fff;
$mainBackground: #fafafa;
$footerBackground: #f1f1f1;

$splitBorder: 1px solid #e2e2e2;
$deepenBorder: 1px solid #ddd;

$borderShadow: 0 3px 2px -2px rgba(200, 200, 200, 0.2);
